@import url('https://fonts.googleapis.com/css?family=Poppins');
/* #630000; */
/* #fef5ac */
.authButton {
  color: white;
  background-color: #630000;
  border-radius: 50px;
  border-color: black;
  border-style: hidden;
  border-width: 0.5px;
  padding: 5px;
  padding-left: 10px;
  padding-right: 10px;
}
.lcolor {
  color: white;
  text-decoration: none;
}
.all {
  position: fixed;
  height: 100%; /* Full-height: remove this if you want "auto" height */
  width: 160px;
  padding-left: 10px;
  padding-right: 10px;
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0;
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 20px;
}
