@import url('https://fonts.googleapis.com/css2?family=Inter');
@import url('https://fonts.googleapis.com/css?family=Roboto Slab');
@import url('https://fonts.googleapis.com/css?family=Poppins');
.content {
  background-color: #1e1e1e;
  display: flex;
}

.registerPageDecor {
  width: 45%;
}
.registerPageImage {
  padding-top: 10%;
  padding-left: 40%;
}
.paragraph {
  color: #fef5ac;
  font-family: 'Poppins';
  text-align: center;
  padding-left: 10%;
}
.form {
  background-color: white;
  font-family: 'Poppins';
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  padding-left: 95px;
  padding-right: 100px;
}

.registerLogo {
  padding-left: 35%;
}
p.title {
  color: #414141;
  padding-left: 29%;
}
p.registerMessage {
  color: #414141;
  font-size: 10px;
  padding-left: 17%;
}

.labels {
  color: #414141;
  font-size: 13px;
  margin: 5px;
}

.textField {
  background-color: #f0f0f0;
  border-radius: 10px;
  border-style: none;
  height: 30px;
  margin: 5px;
}

.textField::selection {
  background-color: #efbfbf;
}

.textField:hover {
  border-color: #630000;
}

.termsConditionsText {
  font-family: 'Poppins';
  font-size: 10px;
  color: #630000;
}

.submitButton {
  font-family: 'Poppins';
  background-color: #630000;
  border-radius: 10px;
  color: white;
  height: 30px;
  padding-left: 10px;
  padding-right: 10px;
  margin-top: 10px;
  margin-left: 25%;
  border-style: none;
}

.submitButton:hover {
  background-color: #a91414;
}

.submitButton:active {
  font-size: 13.2px;
}
